html,body {
  height: 100%;
  padding: 0;
  margin: 0;
  background:lavender;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#pinkboard {
  position: relative;
  margin: auto;
  height: 500px;
  width: 500px;
  animation: animate 1.3s infinite;
}

#pinkboard:before,
#pinkboard:after {
  content: "";
  position: absolute;
  background: #3988c9;
  width: 100px;
  height: 160px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#pinkboard:before {
  left: 100px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-weight: bold;
  color: navy;
  content: "Reference ";
}

#pinkboard:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
h1 {
    color: rgb(119, 30, 30);
    text-align: center;
}
